#Object files
*.o

#LogickWorks temproray files
*ASDN*/**/*.bak

#Vim temp
*.swp

#Latex build stuff
*.fdb_latexmk
*.log
*.synctex.gz
**/report/*.aux
**/report/*.fls
**/report/*.out
latex.py
report.py*

#Python build stuff
*.pyc
__pycache__